@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
}

.card{
  @apply px-5 pt-5 rounded-2xl cursor-pointer bg-white bg-opacity-10 shadow-5xl border border-gray-200 border-r-0 border-b-0 border-opacity-30 backdrop-filter backdrop-blur-sm z-20

}
.rounded-img{
  @apply rounded-md
}